#header-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  align-items: center;
  position: relative;

}

#nav {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 1%;



  a {
    color: black;
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
  }

}

h1 {
  color: red;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding: 8px;

}

