#portfolio {
  display: flex;
  justify-content: center;
}


#portfolio-items {

  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  img {
    padding: 15px;
    height: 420px;
    width: 570px;
  }

  .titleTag {
    display: inline-block;
    border: 1px solid rgba(255,255,255,.3);
    padding: 2px 5px;
    border-radius: 5px;
    margin: 3px 2px;
    font-weight:900;
    color:rgba(255,255,255,.85);
    font-size: 30px;
    margin-bottom: 5%;
  }

  .tag {
    display: inline-block;
    border: 1px solid rgba(255,255,255,.3);
    padding: 3px 6px;
    border-radius: 5px;
    margin: 3px 2px;
    font-weight:700;
    color:rgba(255,255,255,.85);
    font-size: 15px;
  }

}


//aircheck

#aircheck {
  height: 20%;
  width: 45%;
  background: url(/css/aircheck.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  overflow: hidden;
  border-radius: 5px;
  margin: 5% auto 5% auto;
}

#layAir {

  background: #00306A;
  text-align: center;
  max-width: 61%;
  padding: 18%;
  border: 1px solid rgba(255,255,255,.3);
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .25s ease;
}

#aircheck:hover #layAir {
  opacity: 1;
}


//express-gallery

#expressGallery {
  height: 350px;
  width: 632px;
  background: url(/css/express-gallery.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  overflow: hidden;
  border-radius: 5px;
  margin: 5% auto 5% auto;
}

#layExpress {

  background: #DD0331;
  text-align: center;
  max-width: 53%;
  padding: 20%;
  border: 1px solid rgba(255,255,255,.3);
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .25s ease;
}

#expressGallery:hover #layExpress {
  opacity: 1;
}