/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #header-wrap img {
    height: 80px; }

#name {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-right: 1000px; }

#nav {
  display: flex;
  align-items: center;
  flex: 0 0 auto; }
  #nav a {
    color: black;
    padding: 10px; }

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding: 10px; }

.interlude {
  text-align: center;
  margin-top: 40px;
  padding: 10px; }

hr {
  margin-top: 0px;
  margin-bottom: 40px;
  width: 20%; }

#skills {
  display: flex;
  align-items: space-around;
  text-align: center; }
  #skills h3 {
    padding: 30px; }
  #skills .img-container img {
    height: 40px;
    padding: 5px; }
  #skills #lang-frame .img-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear; }
  #skills #lang-frame #js:hover + .img-container {
    visibility: visible;
    opacity: 1; }
  #skills #responsive-web .img-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear; }
  #skills #responsive-web #design:hover + .img-container {
    visibility: visible;
    opacity: 1; }
  #skills #database .img-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear; }
  #skills #database #db:hover + .img-container {
    visibility: visible;
    opacity: 1; }
  #skills #devtools .img-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear; }
  #skills #devtools #tools:hover + .img-container {
    visibility: visible;
    opacity: 1; }

#js {
  margin-top: 25px;
  margin-bottom: 5px;
  height: 150px;
  padding: 20px; }

#design {
  margin-top: 20px;
  margin-bottom: 38px;
  height: 130px;
  padding: 20px; }

#db {
  margin-top: 32px;
  margin-bottom: 20px;
  height: 130px;
  padding: 20px; }

#tools {
  height: 180px;
  padding: 20px; }

html {
  font-family: 'Montserrat', sans-serif; }
