#header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  align-items: center;
}

  #welcome {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;

  }

#nav {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 1%;

  a {
    color: black;
    margin-left: 2.5px;
    font-size: 16px;
    padding: 5%;
  }

}

h1 {
  color: green;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding: 5px;
}

